# Copy this file to .env if your verifyta setup needs an explicit key.
# If your machine already has a valid UPPAAL license installed, you can leave this unset.
# UPPAAL_LICENSE_KEY=replace-with-your-license-key
